@import 'variable.css';


@media only screen and (min-width: 621px) and (max-width: 1100px) {
    main {
        align-items: center;
    }

    h1 {
        font-size: var(--h1-tablette);
    }

    h2 {
        font-size: var(--h2-tablette);
    }

    h3 {
        font-size: var(--h3-tablette);
    }

    p {
        font-size: var(--para-tablette);
    }


    /* Barre de navigation */
    #menu {
        background-color: black;
        max-width: 750px;
        margin: 0 auto;
        border-radius: 50px;
        height: 40px;
    }

    header {
        margin: 5% 2% 5%;
    }

    .liste {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        line-height: 40px;
    }

    .liste li {
        display: inline;
        margin-right: 20px;
    }

    .a-accueil,
    .a-pectoraux,
    .a-dos,
    .a-questionnaire {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s;
    }

    .a-accueil {
        color: red;
    }

    .a-questionnaire {
        color: green;
    }

    .liste li a:hover {
        color: #FFD700;
    }


    /* Accueil */
    .para-present,
    .p-endurance,
    .p-volume,
    .p-force {
        text-align: justify;
        margin: 2%;
    }

    .p-img-endu,
    .p-img-vol,
    .p-img-force {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-img-vol {
        flex-direction: row-reverse;
    }

    .img-endurance,
    .img-volume,
    .img-force {
        width: 25%;
        height: 25%;
        margin: 2%;
    }

    /* Pectoraux */
    .illu-pec {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }

    .img-descr-pec {
        width: 40%;
        height: 40%;
        margin: 2%;
    }

    .p-descr-pec {
        text-align: justify;
        margin: 2%;
    }

    .img-dev-couche,
    .img-dev-incline {
        width: 25%;
        height: 25%;
    }

    .div-dev-couche,
    .div-cable-middle-fly,
    .div-etirement-pec,
    .div-dev-incline {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
    }

    .div-dev-incline {
        flex-direction: row-reverse;
    }

    .img-cable-middle-fly,
    .img-etirement-pec {
        width: 35%;
        height: 35%;
    }

    .p-dev-couche,
    .p-dev-incline,
    .p-cable-middle-fly,
    .p-etirement-pec {
        text-align: justify;
        margin: 2%;
    }


    .li-dev-couche,
    .li-dev-incline,
    .li-cable-middle-fly {
        text-align: justify;
        margin-right: 2%;
        margin-left: 2%;
        font-size: var(--para-tablette);
    }

    .li-dev-incline {
        margin-left: 4%;
    }

    table,
    th {
        border-collapse: collapse;
        border: solid black;
        padding: 1%;
        margin: 5%;
    }

    thead {
        background-color: black;
    }

    tbody {
        background-color: white;
    }

    .devanture {
        background-color: red;
        color: white;
    }

    tfoot {
        background-color: green;
    }

    /* Dos */
    .illu-dos,
    .div-rowing,
    .div-tirage-horizontal,
    .div-traction,
    .div-etirement-dos {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-illu-dos,
    .img-rowing,
    .img-tirage-horizontal {
        width: 35%;
        height: 35%;
        margin: 2%;
    }

    .p-illu-dos {
        width: 35%;
        height: 35%;
        text-align: justify;
        margin: 2%;
    }

    .p-rowing,
    .p-traction,
    .p-etirement-dos {
        text-align: justify;
        margin: 2%;
    }

    .li-tirage-horizontal {
        margin: 4%;
        text-align: justify;
        font-size: var(--para-tablette);
    }

    .div-traction-debout,
    .div-traction-assis {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-traction-debout,
    .img-traction-assis {
        margin: 2%;
        width: 75%;
        height: 75%;
    }

    .div-tirage-horizontal {
        flex-direction: row-reverse;
    }

    .img-etirement-dos {
        margin: 2%;
        width: 50%;
        height: 50%;
    }

    /* Questionnaire */
    .div-form {
        padding: 2%;
        margin: 2%;
        background: #E4CED25E 0.35;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.9px);
        -webkit-backdrop-filter: blur(6.9px);
        border: 1px solid #E4CED25E 0.46;
    }

    label {
        display: block;
        margin-bottom: 0.5%;
    }

    .div-checkbox {
        display: flex;
        justify-content: row;
        padding: 0.1%;

    }

    label[for="objectif1"],
    label[for="objectif2"],
    label[for="objectif3"],
    label[for="objectif4"],
    label[for="homme"],
    label[for="femme"] {
        cursor: pointer;
        margin-left: 0.5%;
    }

    .genre {
        display: flex;
    }

    input[name="nom"],
    input[name="prenom"],
    input[name="age"],
    select,
    input[name="pret"],
    input[name="fin"],
    input[name="imc-poids"],
    input[name="imc-taille"],
    input[name="imc-res"] {
        width: 20%;
        padding: 1%;
        margin-bottom: 2%;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    input[name="email"] {
        width: 50%;
        padding: 1%;
        margin-bottom: 2%;
        border: 1px solid #ccc;
        border-radius: 10px;
    }


    input[name="objectif1"],
    input[name="objectif2"],
    input[name="objectif3"],
    input[name="objectif4"],
    input[name=genre] {
        background-color: #ccc;
        cursor: pointer;
    }

    input[value="femme"] {
        margin-left: 2%;
    }

    input[type="radio"] {
        margin-right: 0.5%;
    }

    input[type="submit"] {
        background-color: red;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 2%;
    }

    input[type="reset"] {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 2%;
        margin-right: 2%;
    }

    .div-sub-res {
        display: flex;
        justify-content: center;
    }

    input[type="submit"]:hover {
        background-color: orange;
    }

    input[type="reset"]:hover {
        background-color: orange;
    }

    .img-form {
        width: 50%;
        height: 50%;
        float: right;
    }

    .p-message {
        display: flex;
        justify-content: center;
    }
}